<div class="games-container">
  <h1 class="games-header fade-in">PICK A GAME</h1>
</div>

  <div class="game-box-container">

    <div>
      <div class="game-box animate-pop animate-pop-1 show-hangman">
          <h3 class="game-name">HANGMAN</h3>
      </div>
      <div>
        <div class="hangman-window hidden modal-window">
          <i class="fa-solid fa-xmark close-hangman close-button"></i>
          <h4>RULES</h4>
          <div class = "game-description">
            <p>Guess the secret word before all your lives are gone.</p>
            <p>Select one letter at a time to reveal the word. But be careful, you only have 9 chances to get the correct answer before the game is over.</p>
          </div>
          <div class = "play-button-container">
            <a href="<%= "#{request.original_url}/hangman" %>" class="play-button">PLAY</a>
          </div>
        </div>
        <div class="overlay-hangman overlay hidden"></div>
      </div>
    </div>

    <div>
      <div class="game-box animate-pop animate-pop-2 show-flash">
          <h3 class="game-name">FLASH</h3>
      </div>
      <div>
        <div class="flash-window hidden modal-window">
          <i class="fa-solid fa-xmark close-flash close-button"></i>
          <h4>RULES</h4>
          <div class = "game-description">
            <p>Test your reactions against the clock.</p>
            <p>If you see a green square, click it quickly. But avoid the pink squares! Win a point for every green square, lose one for every pink square.</p>
          </div>
          <div class = "play-button-container">
            <a href="<%= game_path(2) %>" class="play-button">PLAY</a>
          </div>
        </div>
        <div class="overlay-flash overlay hidden"></div>
      </div>
    </div>

    <div>
      <div class="game-box animate-pop animate-pop-3 show-ox">
          <h3 class="game-name">O AND X</h3>
      </div>
      <div>
        <div class="ox-window hidden modal-window">
          <i class="fa-solid fa-xmark close-ox close-button"></i>
          <h4>RULES</h4>
          <div class = "game-description">
            <p>Tic Tac Toe.</p>
            <p>Take it in turns to enter a nought or a cross. Get three in a row to win the game.</p>
          </div>
          <div class = "play-button-container">
            <a href="<%= game_path(3) %>" class="play-button">PLAY</a>
          </div>
        </div>
        <div class="overlay-ox overlay hidden"></div>
      </div>
    </div>

    <div>
      <div class="game-box animate-pop animate-pop-4 show-mine">
          <h3 class="game-name">MINESWEEPER</h3>
      </div>
      <div>
        <div class="mine-window hidden modal-window">
          <i class="fa-solid fa-xmark close-mine close-button"></i>
          <h4>RULES</h4>
          <div class = "game-description">
            <p>Clear the minefield without hitting any mines.</p>
            <p>Square by square, try to clear the board. But watch out, hit a mine and it's game over.</p>
          </div>
          <div class = "play-button-container">
            <a href="<%= game_path(4) %>" class="play-button">PLAY</a>
          </div>
        </div>
        <div class="overlay-mine overlay hidden"></div>
      </div>
    </div>

    <div>
      <div class="game-box animate-pop animate-pop-5 show-anagram">
          <h3 class="game-name">ANAGRAM</h3>
      </div>
      <div>
        <div class="anagram-window hidden modal-window">
          <i class="fa-solid fa-xmark close-anagram close-button"></i>
          <h4>RULES</h4>
          <div class = "game-description">
            <p>Unscramble the word to win the game.</p>
            <p>Find a word within the word. Workout the anagram and you're a winner.</p>
          </div>
          <div class = "play-button-container">
            <a href="<%= game_path(5) %>" class="play-button">PLAY</a>
          </div>
        </div>
        <div class="overlay-anagram overlay hidden"></div>
      </div>
    </div>

    <div>
      <div class="game-box animate-pop animate-pop-6 show-pig">
          <h3 class="game-name">PIG</h3>
      </div>
      <div>
        <div class="pig-window hidden modal-window">
          <i class="fa-solid fa-xmark close-pig close-button"></i>
          <h4>RULES</h4>
          <div class = "game-description">
            <p>First to 100 wins.</p>
            <p>Roll the dice to score points. After each turn, choose to bank your points or keep rolling. Roll a 6 and the points are gone. First player to score 100 is the winner.</p>
          </div>
          <div class = "play-button-container">
            <a href="<%= game_path(6) %>" class="play-button">PLAY</a>
          </div>
        </div>
        <div class="overlay-pig overlay hidden"></div>
      </div>
    </div>

  </div>

  <script>




  </script>
